<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No information Available</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>City Not Found</h1>
    <h2>Check for spelling mistakes?</h2>
    <form action="/weather" >
        <label for="city">Enter City Name:</label>
        <input type="text" name="city" id="city" >
        <button type="submit">Get Weather</button>
    </form>
</body>
</html>